.plus {
    height: 738px;
    background-color: #F3F1F2;
    

    & .container {

        & .plus-content {
            position: relative;

            &-form {
                position: absolute;
                z-index: 3;
                top: 65px;
                left: 0;
                flex: 0 0 20%;
                width: 250px;
                height: fit-content;
                border-radius: 10px;
                background-color: white;

                &-text {
                   margin-bottom: 20px;
                   padding: 15px 15px 5px;
                   background-color: green;
                   border-top-left-radius: 10px;
                   border-top-right-radius: 10px;
                   color: white; 
                   text-align: center; 

                    &-title {
                        margin-bottom: 0;
                        font-size: 30px;
                        font-weight: 600;
                    }

                    &-subtitle {
                        margin-bottom: 0;
                        font-size: 14px;
                    }
                } 
                
                & form {
                    padding: 15px;

                    & .form-btn {
                        background-color: green;
                        border: 1px solid #008000;

                        :hover {
                            border: 1px solid #ffb437;
                        }
                    }
                }

                @media (max-width: 1113px) {
                    top: 475px;
                    left: 166px;
                }

                @media (max-width: 991px) {
                    left: 73px;
                }

                @media (max-width: 767px) {
                    left: 0;
                }

                @media (max-width: 642px) {
                    top: 720px;
                }

                @media (max-width: 639px) {
                    width: 100%;
                    top: 660px;
                    
                }

                @media (max-width: 490px) {
                    top: 600px;
                }

                @media (max-width: 380px) {
                    top: 540px;
                }

                @media (max-width: 330px) {
                    top: 510px;
                }
            }

            &-img {
                position: absolute;
                z-index: 2;
                top: -80px;
                right: 46%;
                flex: 0 0 20%;

                @media (max-width: 1113px) {
                    top: 258px;
                    right: 11%;
                }

                @media (max-width: 991px) {
                    right: -2%;
                }

                @media (max-width: 767px) {
                    right: -13%;
                }

                @media (max-width: 642px) {
                    top: 523px;
                }

                @media (max-width: 639px) {
                    display: none;
                }
            }

            &-teplica {
                position: absolute;
                z-index: 1;
                top: 0;
                right: -109px;
                flex: 0 0 60%;
                width: 700px;
                height: auto;
               

                &-img {
                    z-index: 5;
                    width: 100%;
                    height: 100%;

                    & img {
                        width: 100%;
                        height: 100%;
                    }
                }

                &-info {
                    position: absolute;
                    z-index: 5555;

                    & .detail {
                        font-size: 14px;

                        & p {
                            margin-bottom: 0;
                        }

                        @media (max-width: 642px) {
                            display: none;
                        }
                    }

                    & .number {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-bottom: 10px;
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        background-color: rgba(0, 128, 0, .8);
                        color: white;
                    }
                }

                & .one {
                    top: 2%;
                    left: 24%;

                    @media (max-width: 710px) {
                        left: 21%;
                    }

                    @media (max-width: 642px) {
                        top: 21%;
                    }
                }

                & .two {
                    top: 7%;
                    left: 62%;

                    @media (max-width: 710px) {
                        top: 4%;
                        left: 65%;
                    }

                    @media (max-width: 642px) {
                        top: 16%;
                        left: 64%;                    
                    }
                }

                & .three {
                    top: -3%;
                    left: 80%;

                    @media (max-width: 710px) {
                        top: -9%;
                        left: 82%;
                    }

                    @media (max-width: 642px) {
                        top: 20%;                    
                    }
                }

                & .four {
                    bottom: 7%;
                    left: 24%;

                    @media (max-width: 710px) {
                        bottom: 3%;
                    }

                    @media (max-width: 642px) {
                        bottom: 17%;                    
                    }
                }

                & .five {
                    bottom: 12%;
                    left: 59%;

                    @media (max-width: 710px) {
                        bottom: 15%;
                    }
                }

                & .six {
                    bottom: 15%;
                    left: 82%;

                    @media (max-width: 710px) {
                        bottom: 5%;
                        left: 86%;
                    }

                    @media (max-width: 642px) {
                        bottom: 27%;                    
                    }
                }

                & .detail-info {
                    display: none;
                    position: absolute;
                    left: 7%;
                    padding: 10px;
                    width: 100%;
                    border-radius: 10px;
                    border: 2px solid rgb(0, 128, 0);
                    background-color: rgba(0, 128, 0, .2);

                    &-block {
                        display: flex;
                        justify-content: start;
                        margin-bottom: 5px;

                        &-number {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-bottom: 0;
                           
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            background-color: rgba(255, 180, 55, .8);
                            color: green;
                            font-weight: 600;
                        }

                        &-text { 
                            margin-left: 10px;
                            width: 100%;
                            font-size: 16px;                                & p {
                            margin-bottom: 0;
                            }  
                            
                            @media (max-width: 600px) {
                                font-size: 14px;
                            }

                            @media (max-width: 500px) {
                                font-size: 12px;
                            }
                        }
                    }

                    @media (max-width: 642px) {
                        display: inline-block;
                    }

                    @media (max-width: 626px) {
                        width: 80%;
                        left: 17%;
                    }

                    @media (max-width: 532px) {
                        width: 75%;
                        left: 20%;
                    }

                    @media (max-width: 508px) {
                        left: 23%;
                    }
                }

                @media (max-width: 1320px) {
                    right: -35px;
                }

                @media (max-width: 1199px) {
                    right: -98px;
                }

                @media (max-width: 1113px) {
                    top: 0;
                    right: 20%;
                }

                @media (max-width: 991px) {
                    right: 7%;
                }

                @media (max-width: 767px) {
                    right: -11%;
                }

                @media (max-width: 710px) {
                    width: 600px;
                    right: 0;
                }

                @media (max-width: 536px) {
                    width: 122%;
                }
            }
        }
    }

    @media (max-width: 1199px) {
        height: 754px;
    }

    @media (max-width: 1113px) {
        height: 1142px;
    }

    @media (max-width: 767px) {
        height: 1118px;
    }

    @media (max-width: 642px) {
        height: 1333px;
    }

    @media (max-width: 639px) {
        height: 1210px;
    }

    @media (max-width: 490px) {
        height: 1130px;
    }

    @media (max-width: 380px) {
        height: 1090px;
    }
}